<?xml version="1.0" encoding="UTF-8" ?>
<sprache>
    <aRecordMissing>Un record per il dominio %domain% non configurato a %ip%</aRecordMissing>
    <blocksize>Blocksize</blocksize>
    <defaultdns>Dominio predefinito</defaultdns>
    <dirHttpd>Cartella Htdocs</dirHttpd>
    <dirLogs>Cartella dei Logs</dirLogs>
    <defaultDns>Dominio predefinito</defaultDns>
    <dns>Dominio</dns>
    <domainNotUsed>Saltato dominio non tollerato %domain%</domainNotUsed>
    <error_password_not_match>le password per l'FTP non corrispondono</error_password_not_match>
    <error_password_not_set> La password per l'FTP non è permessa, non è impostata o non è stat ripetuta.</error_password_not_set>
    <fdlInfo>Info FastDL</fdlInfo>
    <ftpIP>Indirizzo FTP</ftpIP>
    <ftpPassword>Password FTP</ftpPassword>
    <ftpPasswordChanged>Modifica la password FTP</ftpPasswordChanged>
    <ftpPasswordRepeat>Ripeti la password per l'FTP</ftpPasswordRepeat>
    <ftpPort>Porta FTP</ftpPort>
    <hdd>Spazio su disco</hdd>
    <hddOverbook>HDD Overbooking</hddOverbook>
    <hddUsage>Spazio su disco in uso</hddUsage>
    <help_blocksize>La maggior parte dei file system sono configurati con una blocksize di 4096. Ciò significa un blocco contiene 4096 byte.</help_blocksize>
    <help_default_dns>Questo (sotto)dominio può essere inserito tra domini. Nel caso venga rimosso dalla gestione del dominio, questo verrà disattivto.</help_default_dns>
    <help_fdl_attention>Attenzione! Il metodo raccomandato è di creare una sottocartella per ogni gioco. Possono essere come cod4, cstrike, css, etc...</help_fdl_attention>
    <help_fdl_hl>I server basati su Half-Life 1 (CS 1.6, TFC, DOD, etc.) e Half-Life 2 (CSS, CSGO, DODS, L4D2, TF2, etc.) necessitano di bisogno di voci come questa nel server.cfg</help_fdl_hl>
	<help_fdl_ut>I server basati su UnrealEngine (UT GOTY, UT2004) necessitano di bisogno di voci come questa nel server.ini</help_fdl_ut>
    <help_fdl_cod>Il server di Call of Duty richiede voci come questa nel server.cfg</help_fdl_cod>
    <help_inode_block_ratio>La maggior parte dei sistemi hanno un rapporto di 4. Questo significa che 4 blocchi avranno un inode.</help_inode_block_ratio>
    <help_web_master>Attenzione, raccomandiamo di utilizzare l'host per il solo uso della funzione Fastdownload. Altri pannelli e software possono causare problemi o può essere influenzata dal Fastdownload. Il Fastdownload potrebbe avere l'effetto indesiderato di generare molto traffico e carico che influenzerà altri server o daemon.</help_web_master>
    <httpdCmd>Comandi HTTPD di riavvio/ricarica</httpdCmd>
    <inodeBlockRatio>Rapporto Blocchi/Inode</inodeBlockRatio>
    <installedHDD>HDD assegnato</installedHDD>
    <installedVhost>Vhosts installati</installedVhost>
    <maxHDD>Spazio su disco massimo</maxHDD>
    <maxVhost>Vhosts massimi</maxVhost>
    <optional>(facoltativo)</optional>
    <other>Altro</other>
    <overbookPercent>Overbook</overbookPercent>
    <ownVhost>Proprio modello di Vhost</ownVhost>
    <path>Percorso</path>
    <pathCorrected>Path belonging to domain %domain% corrected from %pathGiven% to %pathConverted%</pathCorrected>
    <phpConfiguration>Configurazione PHP</phpConfiguration>
    <quotaActive>Attiva le Quotas</quotaActive>
    <quotaCmd>Comando delle Quota</quotaCmd>
    <quotaWarning>Attenzione! Senza Quotas attivato gli utenti saranno in gradi di caricare files fino a riempire l'HDD!</quotaWarning>
    <recreate>Ricrea</recreate>
    <repquotaCmd>Comando repquota</repquotaCmd>
    <serverType>Tipo di server</serverType>
    <usage>Utilizzo</usage>
    <usageType>Utilizzo del Vhost</usageType>
    <userGroup>Guppo Webserver</userGroup>
    <userAddCmd>Comando Useradd</userAddCmd>
    <userDelCmd>Comando Userdel</userDelCmd>
    <userModCmd>Comando Usermod</userModCmd>
    <vhostConfigPath>Vhost Config Storagepath</vhostConfigPath>
    <vhostTemplate>Modello del Vhost</vhostTemplate>
    <vhostStoragePath>Percorso di archiviazione del Vhost</vhostStoragePath>
    <webFtp>Web FTP</webFtp>
</sprache>
