/* ##############################################			*/
/* MONSTA FTP by MONSTA APPS								*/
/* ##############################################			*/
/* 															*/
/* This file is part of Monsta FTP. Please see index.php	*/
/* for copyright, license and support details.				*/
/* 															*/
/* ##############################################			*/
/* 															*/
/* Removed css conflicting with bootstrap                   */

/* Floats */

.floatLeft {
    float: left;
}

.floatLeft10 {
    float: left;
    margin-right: 10px;
}

.floatRight {
    float: right;
}

/* Other */

#ajaxContentWindow {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-top-width: 2px;
    overflow: auto;
}

/* Credit to www.robertnyman.com */
#blackOutDiv {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)"; /* IE8 */
    background: rgb(0, 0, 0); /* Fallback for web browsers that don't support RGBa */
    background: rgba(0, 0, 0, 0.6); /* RGBa with 0.6 opacity */
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
}

#btnLogin {
    padding-left: 40px;
    padding-right: 40px;
}

.checkboxChmod {
    float: left;
    margin-right: 20px;
}

#contextMenu {
    -moz-box-shadow: 2px 2px 3px #6D6D6D;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color=#6D6D6D)";
    -webkit-box-shadow: 2px 2px 3px #6D6D6D;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 3px #6D6D6D;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color=#6D6D6D);
    font-size: 11pt;
    padding: 6px 0 6px 0;
    position: absolute;
}

.contextMenuDiv {
    padding: 4px 30px 4px 15px;
}

.contextMenuDivInactive {
    padding: 4px 15px 4px 15px;
    width: 150px;
}

.contextMenuDivider {
    border-top-style: solid;
    border-top-width: 1px;
    margin: 5px 0 5px 0;
}

.contextMenuDivMouseOver {
    padding: 4px 15px 4px 15px;
    width: 150px;
}

.cursorPointer {
    cursor: pointer;
}

#dropFilesCheckDiv {
    display: inline;
}

#editContent {
    border-style: solid;
    border-width: 1px;
    padding: 10px 0 10px 10px;
    resize: none;
    width: 99%;
}

.fieldsetChmod {
    margin-bottom: 10px;
    padding: 10px;
}

#footerDiv {
    height: 40px;
    padding: 5px 0 5px 10px;
}

#ftpActionForm {
    margin: 0;
    padding: 0;
}

#ftpHistorySelect {
    border: none;
    width: 100%;
}

#ftpTable {
    border-top-style: solid;
    border-top-width: 2px;
}

.ftpTableHeading {
    border-left-style: solid;
    border-left-width: 2px;
}

#hostInfoDiv {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    float: right;
    font-size: 70%;
    font-weight: bold;
    margin-right: 20px;
    padding: 7px 7px 7px 3px;
}

#hostInfoDiv span {
    font-weight: bold;
    padding-left: 7px;
    padding-right: 3px;
}

.inputButton {
    padding: 5px;
    width: 130px;
}

.inputButtonNf {
    padding: 5px 10px 5px 10px;
}

.inputRename {
    margin-bottom: 5px;
    width: 470px;
}

#loginForm {
    border-style: solid;
    border-width: 2px;
    margin: 100px;
    width: 475px;
}

#loginFormContent {
    padding: 20px;
}

#loginFormError {
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
    padding: 10px;
}

#loginFormTitle {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-weight: bold;
    padding: 10px;
}

#newFile {
    width: 300px;
}

#newFolder {
    width: 300px;
}

.popUpBtn {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#popupFrame {
    border-width: 2px;
    border-style: solid;
    position: absolute;
}

#popupBodyAction {
    border-left-width: 8px;
    border-left-style: solid;
    border-right-width: 8px;
    border-right-style: solid;
    line-height: 25px;
    overflow: auto;
    padding: 0 15px 0 15px;
}

#popupBodyError {
    border-left-width: 8px;
    border-left-style: solid;
    border-right-width: 8px;
    border-right-style: solid;
    line-height: 25px;
    overflow: auto;
    padding: 0 15px 0 15px;
}

#popupFooterAction {
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-left-width: 8px;
    border-left-style: solid;
    border-right-width: 8px;
    border-right-style: solid;
    padding: 15px;
}

#popupFooterError {
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-left-width: 8px;
    border-left-style: solid;
    border-right-width: 8px;
    border-right-style: solid;
    padding: 15px;
}

#popupHeaderAction {
    border-left-width: 8px;
    border-left-style: solid;
    border-right-width: 8px;
    border-right-style: solid;
    border-top-width: 8px;
    border-top-style: solid;
    font-weight: bold;
    padding: 15px;
}

#popupHeaderError {
    border-left-width: 8px;
    border-left-style: solid;
    border-right-width: 8px;
    border-right-style: solid;
    border-top-width: 8px;
    border-top-style: solid;
    font-weight: bold;
    padding: 15px;
}

.progressBar {
    float: left;
    margin-left: 10px;
}

.progressClose {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 0 3px 0 3px;
}

#repeatUploadDiv {
    float: left;
}

.uploadHiddenDiv {
    height: 0;
    overflow: hidden;
    width: 0;
}

#uploadProgressDiv {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 188px;
    overflow: auto;
    width: 100%;
}

.width100pc {
    width: 100%;
}


/* General Format This is the "Monsta" skin*/

a:link {
    color: #2075B8;
}

hr {
    background-color: silver;
    color: silver;
}

progress {
    background-color: #FCFFD2;
}

/* AJAX Content Window */

#ajaxContentWindow {
    border-bottom-color: #404040;
    border-top-color: #404040;
}

/* Form Error Background */

.bgFormError {
    background-color: red;
}

/* Context Menu */

#contextMenu {
    background-color: #F0F0EE;
    border-color: #CCCCCC;
}

/* Context Menu Divider */

.contextMenuDivider {
    border-top-color: #322F30;
}

/* Context Menu Inactive */

.contextMenuDivInactive {
    color: grey;
}

/* Context Menu MouseOver */

.contextMenuDivMouseOver {
    background-color: blue;
    color: white;
}

/* Drag & Drop Check */

#dropFilesCheckDiv {
    background-color: white;
    border-color: #404040;
}

.dropFilesCheckPassColor {
    color: green;
}

.dropFilesCheckFailColor {
    color: red;
}

/* File Edit Window */

#editContent {
    border-color: #404040;
}

/* Footer Div */

#footerDiv {
    background-color: #D1D2D4;
}

/* FTP File Listing Table */

#ftpTable {
    border-top-color: #404040;
}

/* FTP File Listing Header & Rows */

.ftpTableHeading {
    background-color: #404040;
    border-left-color: white;
    color: white;
}

/* header with no formatting */
.ftpTableHeadingNf {
    background-color: #404040;
}

.trBg0 {
    background-color: #EAEAEA;
}

.trBg1 {
    background-color: white;
}


/* Host/User Info Box */

#hostInfoDiv {
    background-color: white;
    border-color: #404040;
    color: green;
}

#hostInfoDiv span {
    color: black;
}

/* Login Form */

#loginForm {
    border-color: #404040;
}

/* Login Form Error */

#loginFormError {
    background-color: white;
    border-color: red;
    color: red;
}

/* Login Form Title */

#loginFormTitle {
    background-color: #404040;
    border-bottom-color: #404040;
    color: white;
}

/* Login Form Content */

#loginFormContent {
    background-color: #EAEAEA
}

/* Pop-up Border */

#popupFrame {
    border-color: black;
}

/* Pop-up Body */

#popupBodyAction {
    background-color: white;
    border-left-color: green;
    border-right-color: green;
}

#popupBodyError {
    background-color: white;
    border-left-color: red;
    border-right-color: red;
}

/* Pop-up Footer */

#popupFooterAction {
    background-color: white;
    border-left-color: green;
    border-bottom-color: green;
    border-right-color: green;
}

#popupFooterError {
    background-color: white;
    border-left-color: red;
    border-bottom-color: red;
    border-right-color: red;
}

/* Pop-up Header */

#popupHeaderAction {
    background-color: white;
    color: green;
    border-color-left: green;
    border-color-right: green;
}

#popupHeaderError {
    background-color: white;
    color: red;
    border-color-left: red;
    border-color-right: red;
}


/* Progress Close Button */

.progressClose {
    border-color: gray;
    color: gray;
}

.progressClose:hover {
    border-color: black;
    color: black;
}

/* Size Error Span */

.sizeErrorSpan {
    color: red;
}

/* Transferring to FTP */

.transferringSpan {
    color: green;
}

/* Upload Progress Window */

#uploadProgressDiv {
    border-bottom-color: #404040;
}