<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^(downloads|keys|languages|stuff|template|third_party|tmp) - [F]
</IfModule>

<IfModule mod_rewrite.c>
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

<IfVersion >= 2.4>
    <Files .htaccess>
        Require all denied
    </Files>
    <Files id_rsa>
       Require all denied
    </Files>
    <FilesMatch "\.pub$">
        Require all denied
    </FilesMatch>
    <FilesMatch "\.php$">
        Require all denied
    </FilesMatch>
    <FilesMatch "^(admin|ajax|api|cloud|get_password|images|index|install|jobs|lend|login|protectioncheck|reboot|serverallocation|startupdates|statuscheck|switch|update|userpanel|ajaxfunctions)\.php$">
        Require all granted
    </FilesMatch>
</IfVersion>

<IfVersion < 2.4>
    <Files .htaccess>
        Order deny,allow
        deny from all
    </Files>
    <Files id_rsa>
        Order deny,allow
        deny from all
    </Files>
    <FilesMatch "\.pub$">
        Order deny,allow
        deny from all
    </FilesMatch>
    <FilesMatch "\.php$">
        Order deny,allow
        deny from all
    </FilesMatch>
    <FilesMatch "^(admin|ajax|api|cloud|get_password|images|index|install|jobs|lend|login|protectioncheck|reboot|serverallocation|startupdates|statuscheck|switch|update|userpanel|ajaxfunctions|import_email_settings)\.php$">
        Order allow,deny
        allow from all
    </FilesMatch>
</IfVersion>